body{
  margin: 0px;
  padding: 0px;
}
.header{
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  padding: 20px;
}

.nav{
  background: #ddd;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}
.nav ul{
  // overflow: hidden;
  margin: 0px;
}
.nav ul li{
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav ul li a{
  display: inline-block;
  margin-right: 20px;
  line-height: 25px;
  text-decoration: none;
  color: #313131;
  position: relative;
}
.nav ul li a span{
  position: absolute;
  top: -5px;
  right: -10px;
  display: inline-block;
  width: 20px;
  height: 10px;
  border-radius: 3px;
  background: red;
  color: white;
  font-size: 12px;text-align: top;
  line-height: 1;
}
.nav ul li a:hover{
  color: #919191;
}

.task-table{
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  border: 0px;
  border-collapse: collapse;
  margin: 20px auto;
}

.task-table-header tr{
  background: #aaa;
}

.task-table-header tr th{
  padding: 15px;
  color: #fff;
}

 tbody tr:nth-child(2n){
  background: #eee;
}
.task-table-header tr:hover{
  background: #aaa;
}


tr{
  text-align: center;
}
tbody tr:hover{
  background: #ccc;
}
tr td {
  padding: 10px;
}
.search-input{
  border: none;
  box-sizing: border-box;
  height: 25px;
  padding: 0px;
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
}

.nav ul li a.search-btn{
  box-sizing: border-box;
  height: 25px;
  line-height: 25px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  background: blue;
  color: white;
  text-decoration: none;
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 
}
li.search{
  float: right;
}
.dropmenu{
  position: relative;
}
#dropdown{
  padding-left: 0px;
  padding-right: 0px;
  display: none;
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100px;
  height: 200px;
  background: white;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
  border-radius: 5px;
  // border: 2px solid red;
}
#dropdown li{
  box-sizing: border-box;
  padding-left: 30px;
  text-align: center;
  width: 100%;
}
#dropdown li:hover{
  background: #46c37b;
}
#dropdown li:hover a{
  color: white;
}


